<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>Edit Event</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <label>Name
            <input type="text" name="name" th:value = "${event.getName()}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Description
            <input type="text" name="description" th:value="${event.getDescription()}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Email
            <input type="text" name="email" th:value="${event.getContactEmail()}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Location
            <input type="text" name="location" th:value="${event.getEventLocation()}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Registration Status
            <input type="text" name="status" th:value="${event.getRegistrationRequired()}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>No of attendees
            <input type="text" name="number" th:value="${event.getNumberOfAttendees()}" class="form-control">
        </label>
    </div>


    <div class="form-group">
        <input type="hidden" th:value="${event.id}" name="eventId" />
    </div>
    </br>

    <div class="form-group">
         <input type="submit" value="Edit Event"  class="btn btn-success">
    </div>
</form>


</body>
</html>
