<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:pth="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>


<table class="table table-striped" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}">Events ID</td>
        <td th:text="${event.name}">Events Name</td>
        <td th:text="${event.description}">Events Description</td>
        <td>
            <a th:href="@{/events/edit/{eventId}(eventId=${event.id})}">Edit</a>
        </td>
    </tr>

</table>

</body>
</html>
